* {
  margin: 0;
}
body {
  background-color: #edd2ff;
}

/* introduction section */
#intro {
  padding-top: 20px;
  padding-bottom: 100px;
}

/* img {
  margin-left: 30%;
} */

#intro,
#goals-list,
#link-section {
  width: 80%;
  margin: auto;
}

.intro-desc {
  margin-bottom: 20px;
}

p {
  font-family: "Montserrat", sans-serif;
}

#intro p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 2;
}

h1 {
  font-size: 4.5rem;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 30px;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 7px;
  color: rgb(44, 44, 44);
  font-family: "Montserrat", sans-serif;
}

.day-time {
  display: flex;
  gap: 10px;
  justify-content: end;
  position: relative;
  top: 30px;
}

.num {
  font-size: 2rem;
  font-weight: 600;
  background-color: #d8a1fd;
  color: rgb(255, 248, 248);
  display: inline;
  border-radius: 100%;
  position: relative;
  right: 40px;
  bottom: 30px;
}

.num-one {
  padding: 0 10px;
}

.num-two,
.num-three,
.num-four {
  padding: 0 10px;
}

.goal-container {
  margin-bottom: 30px;
  background-color: rgb(255, 248, 248);
  padding: 20px 30px 60px 30px;
  border: 0.5px solid #cecbc6;
  border-radius: 10px;
}

/* goal section */

.goal-desc {
  font-size: 1rem;
  font-weight: 500;
  color: #616161;
  line-height: 2;
}

.goal-flex-one,
.goal-flex-two {
  display: flex;
  gap: 30px;
}

.goal-flex-one {
  margin-bottom: 20px;
}


/* mobile view */
@media (max-width: 600px) {
  .flex {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.7rem;
    padding: 0 50px;
  }

  h3 {
    font-size: 1.3rem;
  }

  #intro p {
    font-size: 0.9rem;
  }

  img {
    margin: 0%;
  }

  #goals-list {
    width: 80%;
  }

  .goal-flex-one,
  .goal-flex-two {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .goal-desc{
    font-size: 0.9rem;
  }
}


/* ipad and tab view */
@media (min-width: 600px) and (max-width: 900px) {
  .flex {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
    padding: 0 40px;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.5rem;
  }

  img {
    margin: 0%;
  }

  #intro p {
    font-size: 0.85rem;
  }

  #goals-list {
    width: 70%;
  }

  .goal-flex-one,
  .goal-flex-two {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .goal-desc{
    font-size: 0.85rem;
  }
}
